/* estilização da minha pagina de criaçã de conta  */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(150deg, rgb(0, 255, 234), rgb(15, 15, 15));

}

/* estilização da minha tag div */
div {
    background-color: rgba(255, 0, 212, 0.452);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
}

/* estinização da minha tag input */
input {
    padding: 12px 7px;
    text-decoration: none;
    font-size: 10px;
    border-radius: 6px;
    text-align: center;
    border-color: #fff;
}

/* estilização da minhas tag button da class "luki" */
.luki {
    padding: 8px 7px;
    background-color: #fff;
    border-radius: 8px;
    color: #000;
    border-color: #29f700;
    font-family: Helvetica;
    font-style: oblique;
    right: 35px;
    transition: 0.5s;
}

/* estilização de quando passar o cursor do mouser em cima  da minha tag button da class "luki" */
.luki:hover {    background-color: #29f700;
    cursor: pointer;
}

/* estilização do meu button com tag a da class "meu-btn" */
.meu-btn {
    padding: 9px 7px;
    background-color: #fff;
    border-radius: 6px;
    color: #000;
    font-family: helvetica;
    font-style: oblique;
    right: 30px;
    border-color: #29f700;
    transition: 0.5s;
}

/* estilização de quando o cursor do mouser passar em cima do button  */
.meu-btn:hover {
    background-color: #29f700;
    cursor: pointer;
}